<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Related Products"} %>

<h3>Related Products</h3>

<%= form_for [:admin, @post ] do |f| %>

  <p class="field">
    <%= label_tag "post[product_ids_string]", "Choose products" %>
    <%= hidden_field_tag "post[product_ids_string]", @post.product_ids.join(","), :class => "product_picker fullwidth" %>
  </p>
   
  <p class="actions">
    <%= hidden_field_tag :redirect_to, request.url, :class => "hidden" %>
    <%= button t("update") %>
  </p>

<% end %>
